.custom-modal {
    background: linear-gradient(65deg, rgb(180, 225, 255), rgb(225, 160, 255));
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.coincidenciasBtn {
    background: linear-gradient(85deg, rgb(14, 153, 245), rgb(180, 27, 252));
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalBtn {
    background: linear-gradient(85deg, rgb(180, 27, 252), rgb(14, 153, 245));
    width: 100%;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
    font-weight: bold;
}